@import 'tailwindcss';

@theme inline {
	--font-sans: var(--font-dm-sans);
	--font-mono: var(--font-space-mono);

	--color-primary: #006eff;
	--color-primary-light: #0087ff;
	--color-primary-dark: #005bd7;

	--spacing-8xl: 90rem;

	--radius-xl-plus: 0.875rem;
	--radius-2xl-plus: 1.25rem;

	--navbar-height: 5.2rem;
}

@layer base {
	html {
		scrollbar-gutter: stable;
		@apply scroll-smooth;
	}

	button {
		@apply cursor-pointer disabled:opacity-60;
	}
}

@layer utilities {
}
